<template>
  <div class="banner">
    <div class="banner__image">
      <img src="@/assets/img/phone.svg" alt="Phone" />
    </div>
    <div class="banner__content">
      <div class="banner__month-free">
        <a class="banner__month-free-text">1 месяц бесплатно</a>
      </div>
      <div class="banner__title">
        <h1>Платформа, где ваши клиенты заказывают онлайн</h1>
      </div>
      <div class="banner__paragraph">
        <p class="banner__paragraph-content">
          Лёгкие продажи и довольные клиенты — выбирайте умную торговлю!
        </p>
      </div>
      <div class="banner__buttons">
        <a class="button_create">Создать свой магазин</a>
        <a class="button_contact">
          <span class="button_contact-text">Связаться с нами </span>
          <img src="@/assets/img/arrowbutton.svg" alt="Arrow" />
        </a>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.banner {
  display: flex;
  padding: 105px 100px;
  gap: 54px;
  &__image {
    width: 509px;
    height: 688px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__month-free-text {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
  }
  &__month-free {
    margin-top: 42px;
  }
  &__title {
    margin-top: 10px;
  }
  &__paragraph-content {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    text-align: left;
    color: #ffffffe5;
  }
  &__buttons {
    display: flex;
    gap: 30px;
  }
}
h1 {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #ffffffe6;
  margin: 0;
}
.button_create {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #ffffffe5;
  background: #fe4c4f;
  border-radius: 23px;
  width: 299px;
  height: 46px;
  padding: 10px 40px;
}
.button_contact {
  background: #000;
  border-radius: 23px;
  width: 299px;
  height: 46px;
  padding: 10px 40px;
  &-text {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #ffffffe5;
  }
}
</style>
