<template>
  <div class="contact__text-form">
    <div class="contact__text-img">
      <img src="@/assets/img/line.svg" alt="Line" />
      <div class="contact__text">
        <h6>Обратная связь</h6>
        <p class="contact__text_small">
          Оставьте свои данные, чтобы мы могли ответить на все интересующие вас
          вопросы
        </p>
      </div>
    </div>
    <div class="contact__form">
      <div class="form">
        <span class="form__input">Вид деятельности</span>
        <img src="@/assets/img/arrow-right.svg" alt="Arrow" class="arrow-icon" />
      </div>
      <input type="text" placeholder="Имя" />
      <div class="form">
        <img src="@/assets/img/flag.png" alt="Arrow" class="arrow-flag" />
        <span class="form-number">+7</span>
      </div>
      <div class="contact__button">
        <a class="contact__button_order-call">Заказать звонок</a>
      </div>
    </div>
  </div>
</template>

 <style lang="scss">
.contact__text-form {
  display: flex;
  gap: 237px;
  margin: 200px 100px 0 100px;
}

.contact__text-img {
  display: flex;
  gap: 30px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h6 {
  font-family: "Lato", sans-serif;
  font-size: 64px;
  font-weight: 600;
  text-align: left;
  color: #ffffffe5;
  padding: 72px 0 20px 0;
  margin: 0;
}

.contact__text_small {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: left;
  color: #ffffffe5;
  margin: 0;
}

.form {
  width: 400px;
  height: 50px;
  padding: 13px 20px;
  border-radius: 10px;
  background: #ffffff;
  display: flex;
}

input {
  width: 400px;
  height: 50px;
  padding: 13px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  border: none;
  outline: none;
}

input::placeholder {
  font-size: 16px;
}

.arrow-icon {
  margin-left: 201px;
}

.form__input {
  font-size: 16px;
}

.form-number {
  color: #949494;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  padding-left: 5px;
}

.contact__button {
  margin-top: 40px;
  text-align: center;
}

.contact__button_order-call {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #ffffffe5;
  background: #fe4c4f;
  width: 300px;
  height: 46px;
  padding: 10px 60px;
  border-radius: 23px;
}

.phone_num {
  color: #ffffffe5;
  width: 400px;
  height: 50px;
}

</style>