<template>
  <div class="client-banner">
    <p class="client-banner__text">
      Сделайте ваших клиентов по‑настоящему довольными благодаря идеальному
      онлайн-шоппингу
    </p>
  </div>
</template>

<style lang="scss">
.client-banner {
  position: relative;
  text-align: center;
}
.client-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 405px;
  background-image: url(@/assets/img/vector.svg);
  background-size: cover;
  background-position: right center;
}
.client-banner__text {
  font-family: "Inter", sans-serif;
  font-size: 55px;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  color: #ffffffe6;
  margin: 0;
  padding-top: 405px;
}
</style>
