<template>
  <div class="footer1">
    <div class="footer">
      <img src="@/assets/img/linefooter.svg" alt="Line" class="footer__line" />
      <div class="footer__links">
        <img src="@/assets/img/1PLACE.svg" alt="Logo" class="footer__logo" />
        <div class="footer__link1">
          <p class="footer__text">Создать магазин</p>
          <p class="footer__text">Войти</p>
        </div>
        <div class="footer__link2">
          <p class="footer__text">Demo-магазин</p>
          <div class="footer__inst">
            <img
              src="@/assets/img/Instagram.svg"
              alt="insta"
              class="inst-icon"
            />
            <span class="footer__text">Связаться в Instagram</span>
          </div>
        </div>
        <div class="footer__link3">
          <p class="footer__text">Политика конфиденциальности</p>
          <p class="footer__text">Пользовательское соглашение</p>
        </div>
        <div class="footer__selected__lang">
          <span class="language">Rus</span>
          <img src="@/assets/img/arrow-down.svg" alt="Arrow" />
        </div>
      </div>
    </div>
  </div>
  <div class="footer__info">
    <p class="footer__info_rights">
      2024©oneplace.kz Все права защищены ТОО 'WEBSERVIСE' РК 050040, г. Алматы
      ​Улица Байзакова, 280, Бостандыкский район +777119630434
    </p>
  </div>
</template>

<style lang="scss">
.footer1 {
  margin-top: 160px;
  display: flex;
}
.footer__line {
  height: 2px;
  max-width: 100%;
}
.footer {
  padding: 0 100px;
}
.footer__links {
  display: flex;
  gap: 40px;
}
.footer__link1,
.footer__link2,
.footer__link3 {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  color: #ffffffe5;
  gap: 20px;
  font-size: 18px;
  margin-top: 56px;
}
.footer__text {
  margin: 0;
}
.inst-icon {
  vertical-align: middle;
  margin: 0 10px 5px 0;
}
.footer__selected__lang {
  margin: 56px 0 92px 0;
  color: #212529;
  background: hsla(0, 0%, 100%, 0.9);
  border-radius: 39px;
  display: flex;
  gap: 5px;
  justify-content: center;
  padding: 5px 15px;
  width: 92px;
  align-items: baseline;
}
.footer__info_rights {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #ffffffe5;
  margin: 0 0 30px 100px;
}
</style>
