<template>
  <header>
    <div class="header">
      <div class="header__logo-lang">
        <img src="@/assets/img/logo.svg" alt="Header logo" />
        <div class="header__lang" @click="isHidden = !isHidden">
          <div class="header__lang_selected">
            <span class="language">Rus</span>
            <img src="@/assets/img/arrow-down.svg" alt="Arrow" />
          </div>
          <div v-if="isHidden" class="header__lang_list">
            <span class="language">Kaz</span>
            <span class="language">Rus</span>
          </div>
        </div>
      </div>
      <div class="header__menu">
        <a class="header__button">Демо-магазин</a>
        <a class="header__button">Создать магазин</a>
        <a class="header__button">Войти</a>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  data() {
    return {
      isHidden: false,
    };
  },
};
</script>

<style lang="scss">
.header {
  display: flex;
  padding: 45px 100px;
  justify-content: space-between;
  &__logo-lang {
    display: flex;
  }
  &__lang {
    margin-left: 40px;
    position: relative;
  }
  &__lang_selected {
    color: #212529;
    background: hsla(0, 0%, 100%, 0.9);
    border-radius: 39px;
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 5px 15px;
    width: 92px;
    align-items: baseline;
    margin-top: 5px;
  }
  &__lang_list {
    display: flex;
    flex-direction: column;
    background: #e7e7e7;
    border-radius: 20px;
    gap: 5px;
    padding: 5px;
    position: absolute;
    top: 49px;
    width: 92px;
    font-weight: 500;
    text-align: center;
    line-height: 180%;
  }
  &__menu {
    display: flex;
    gap: 30px;
  }
  &__button {
    background-color: #fe4c4f;
    border-radius: 23px;
    text-decoration: none;
    color: #ffffffe6;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 130%;
    padding: 10px 40px;
  }
}
.language {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
</style>
