<template>
  <div class="content-inst">
    <div class="content-inst__inner">
      <p class="content-inst__inner__text">
        Много интересного контента у нас в Instagram
      </p>
    </div>
    <div class="content-inst__profile">
      <a class="content-inst__link">
        <img
          src="@/assets/img/Instagram.svg"
          alt="Instagram"
          class="insta-icon"
        />
        <span class="content-inst__text">Перейти в профиль</span>
      </a>
    </div>
  </div>
</template>

<style lang="scss">
.content-inst {
  background-color: #fe4c4f;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  &__inner__text {
    color: #ffffffe5;
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 500;
  }
  &__profile {
    background-color: #000000;
    width: 265px;
    height: 51px;
    border-radius: 10px;
    padding: 10px 20px;
  }
  &__text {
    color: #ffffffe5;
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
  }
}

a.content-inst__link {
  display: inline-block;
  text-decoration: none;
}
.insta-icon {
  vertical-align: middle;
  margin-right: 10px;
}
</style>
