<template>
  <div class="options">
    <div class="options__text">
      <div class="options__text-col1">
        <h3 class="options__title">
          Продавайте онлайн во всех каналах, избавьтесь от хаоса соц. сетей
        </h3>
        <p class="options__paragraph">
          Помогите клиентам быстро и без труда найти то, что они ищут. Мы
          сделали каждый шаг от поиска до оплаты покупки онлайн удобным для
          пользователей смартфонов.
        </p>
      </div>
      <div class="options__text-col2">
        <h3 class="options__title">Направьте клиентов в нужные товары</h3>
        <p class="options__paragraph">
          Используйте специальные блок специальных предложений для выделения
          новых продуктов, топ-продавцов, товаров для распродажи или
          сопутствующих товаров, чтобы привлечь покупателей именно к тому
          товару, который вы хотите продать.
        </p>
      </div>
      <div class="options__text-col3">
        <h3 class="options__title">
          Профессионально принимайте решение на основе данных
        </h3>
        <p class="options__paragraph">
          Отслеживайте историю покупок клиентов, часто покупаемые товары, и
          популярные акции вашего магазина — повышайте продажи вашего магазина
          как это делают крупные игроки
        </p>
      </div>
      <div class="options__text-col4">
        <h3 class="options__title">Запускайте акции и промокоды</h3>
        <p class="options__paragraph">
          Используйте популярные маркетинговые ходы для продвижения ваших
          товаров. Анализируйте результат и увеличивайте продажи точечно.
        </p>
      </div>
      <div class="options__text-col5">
        <a class="options_create">Создать свой магазин</a>
      </div>
    </div>
    <div class="options__img">
      <img src="@/assets/img/iphone.svg" alt="iphone" class="iphone" />
    </div>
  </div>
</template>

<style lang="scss">
.options {
  display: flex;
  margin: 300px 0 0 100px;
  &__text {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  &__title {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
  }
  &__paragraph {
    color: #fff;
    font-family: "Inter", sans-serif;
  }
  &_create {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #ffffffe5;
    background: #fe4c4f;
    width: 299px;
    height: 46px;
    padding: 10px 40px;
    border-radius: 23px;
  }
  &__img {
    max-width: 100%;
    padding-top: 5px;
  }
}
</style>
