<template>
  <div class="payment-methods">
    <h4>Принимайте оплату как вам удобно</h4>
    <div class="payment-methods__list">
      <div class="payment-methods__option_one">
        <img src="@/assets/img/payment.svg" alt="payment" class="payment" />
        <h5>Методы оплаты</h5>
        <p class="payment-methods__text">
          Принимайте Apple Pay, Google Pay, Наличные, и оплату банковской картой
          для быстрых покупок
        </p>
      </div>
      <div class="payment-methods__option_two">
        <img src="@/assets/img/wallet.svg" alt="wallet" class="payment" />
        <h5>OneVision Wallet</h5>
        <p class="payment-methods__text">
          Электронный кошелёк, который предоставляет возможность оплачивать
          мобильную связь, осуществлять переводы другим пользователям, выводить
          денежные средства на карту, оплачивать коммунальные платежи совершенно
          бесплатно
        </p>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
h4 {
  margin: 310px 0 40px 0;
  color: #ffffffe5;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
h5 {
  font-family: "Lato", sans-serif;
  color: #ffffffe5;
  font-size: 32px;
  margin: 30px 0 20px 0;
}
.payment-methods__text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
  color: #ffffffe5;
}
.payment-methods__list {
  display: flex;
  gap: 40px;
  padding-right: 100px;
  padding-left: 100px;
}
div.payment-methods__option_one img.payment,
div.payment-methods__option_two img.payment {
  max-width: 600px;
  height: auto;
}
</style>
