<template>
  <swiper
    ref="{swiperRef}"
    :slides-per-view="3"
    space-between="30"
    :navigation="true"
    :modules="modules"
    class="mySwiper"
  >
    <swiper-slide
      ><img src="@/assets/img/shoes.svg" alt="Shoes"
    /></swiper-slide>
    <swiper-slide
      ><img src="@/assets/img/bakery.svg" alt="Phone"
    /></swiper-slide>
    <swiper-slide
      ><img src="@/assets/img/makeup.svg" alt="Make-up"
    /></swiper-slide>
    <swiper-slide
      ><img src="@/assets/img/products.svg" alt="Products"
    /></swiper-slide>
    <swiper-slide
      ><img src="@/assets/img/flowers.svg" alt="Floria"
    /></swiper-slide>
  </swiper>

  <p class="append-buttons"></p>
</template>

<script>
import { Swiper, SwiperSlide } from "swiper/vue";

// Import Swiper styles
import "swiper/css";
import "swiper/css/pagination";
import "swiper/css/navigation";

// import required modules
import { Pagination, Navigation } from "swiper/modules";

export default {
  components: {
    Swiper,
    SwiperSlide,
  },
  setup() {
    return {
      modules: [Pagination, Navigation],
    };
  },
};
</script>

<style>
.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.swiper-slide img {
  /* display: block;
  object-fit: cover; */
  width: 264px;
  height: 541px;
}
.append-buttons {
  text-align: center;
  /* margin-top: 20px; */
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
</style>
