<template>
  <div class="statistics">
    <div class="statistics__experience_good">
      <div class="statistics__percent">
        <img src="@/assets/img/56per.svg" alt="56" class="statistics__number" />
      </div>
      <div class="statistics__text">
        <p class="statistics__paragraph">
          потребителей предпочитают совершать покупку ONLINE
        </p>
      </div>
    </div>
    <div class="statisitcs__stick">
      <img src="@/assets/img/line.svg" alt="Line" />
    </div>
    <div class="statistics__experience_bad">
      <div class="statistics__percent">
        <img src="@/assets/img/75per.svg" alt="75" class="statistics__number" />
      </div>
      <div class="statistics__text">
        <p class="statistics__paragraph">
          жалуются на плохой опыт при покупке в соц.сетях
        </p>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.statistics {
  display: flex;
  margin: 220px 100px 0 100px;
  &__text {
    font-family: "Lato", sans-serif;
    font-size: 35px;
    font-weight: 600;
    text-align: left;
    color: #ffffffe5;
    padding-top: 10px;
  }
  &__experience_bad {
    padding-left: 80px;
  }
  &__paragraph {
    margin: 0;
  }
  &__number {
    width: 170px;
  }
}
</style>
