<template>
  <div>
    <TheHeader />
    <TheBanner />
    <TheInstagram />
    <TheSlider />
    <TheClientBanner />
    <TheOptions />
    <TheUsers />
    <ThePaymentOptions />
    <TheContactUs />
    <TheFooter />
  </div>
</template>

<style lang="scss">
$primary-color: #121212;
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-align: left;
  background-color: $primary-color;
}
</style>
